.card-image-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .card-image {
    width: auto; /* Adjust width as needed */
    height: 180px; /* Keeps the aspect ratio of the images */
  }

  .case-study-title{
    color:rgba(0, 0, 0, 0.87);
    font-size:14px;
    font-weight:800;
    font-family: HoneywellSans-Bold;
    text-transform: uppercase;
  }

  .case-study-title2{
    color: rgba(0, 0, 0, 0.87);
    font-size: 28px;
    font-weight: 300;
    font-family: HoneywellSans-Book;
    margin-top: -5px;
  }

  .case-study-info{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-family: HoneywellSans-Medium;
    word-spacing: 3px;
    line-height: 25px;
    margin-top: -15px;
    width: 350px;
  }

  .case-study-links1{
    color: rgb(0, 113, 179);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
  }

  .case-study-links2{
    color: rgb(0, 113, 179);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }