/*---herobanner---*/

*{
    font-family: "Honeywell Sans", Helvetica, Arial, sans-serif !important;
} 

@font-face {
    font-family: "Honewell Sans";
    src: url('../../font/HoneywellSans-Book.otf') format('otf');
}

.text-red{
    color: #FF0000;
   
}
.text-white{
    color: #FFFFFF;
    
}
.para{ 
    width: 420px;
    font-family: "Honewell Sans";
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    font-weight: 700;
}
/*----------herobanner(secondary option)----------*/
.hero-image {
    height: 50%;
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  }

.hero-banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    
    display: flex;
    flex-direction: column;
   /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bannerimg.jpg);*/
}
.bannertext{
    display: flex; 
    flex-direction: column;
    margin-left: 8%;
    position: absolute;
    top: 100px;

}
.header1{
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 66px;
        font-size: 72px;
        margin-top: 0;
        padding-top: 10px;
}

/*----------homesection2----------*/
.homesection2{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: whitesmoke;
}
.homesection2 .container{
    padding: 0px 20px 20px 40px;
}
.homesection2 .header{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.homesection2 .header h3{
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 34px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: -0.005em;

}
.homesection2 .header h5{
    font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        letter-spacing: -0.02em;
        text-align: center !important;

}
.homesection2 .footer{
    display: flex;
    justify-content: space-evenly;
}


.button-primary{
    background: #0071b3 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff !important;
    order: 0;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    border: 2px solid #0071b3;

}

/*----------homesection3----------*/
.homesection3{
    margin: 10px 20px;
}
.homesection3 .container{
    padding: 0px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
}
.homesection3 .card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
   /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
    text-align: center;
}
.homesection3 .card img{
    width: 25%;
    height: 100px;
    object-fit: cover;
}

.homesection3 .card .cmp-text{
    display: flex;
    flex-direction: column;
    
}


/*----------homesectionmui----------*/
/* Styles for the case study title */
.title {
    font-size: 14px !important;
    font-weight: 800 !important;
    margin-bottom: 10px !important;
    line-height: 1.2 !important;
  }
  
  /* Styles for the main heading */
  .main-heading {
    line-height: 1.25 !important;
    font-size: 28px !important;
    font-weight: 300 !important;
    letter-spacing: -0.02em !important; 
  }
  
  /* Styles for the descriptive text */
  .description-text {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;

  }
  
  /* Styles for the 'Read the case study' link */
  .read-more-link {
    border: none !important;
    padding: 0 !important;
    width: auto !important;
    cursor: pointer !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    justify-content: left !important;
    background-color: unset !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #0071b3 !important;
    font-weight: 700 !important;
  }
  


/*@media(max-width: 767px) {
    h1 {
        font-size:32px;
        line-height: 32px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: -0.01em
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 700;
        letter-spacing: -0.005em
    }

    h3 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: -0.005em
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: -0.02em
    }

    h5 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: -0.02em
    }

    h1,h2,h3,h4,h5 {
        font-style: normal
    }
}



@media(min-width: 768px) {
    h1 {
        font-size:70px;
        line-height: 77px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: -0.01em
    }

    h2 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        letter-spacing: -0.005em
    }

    h3 {
        font-size: 40px;
        line-height: 46px;
        font-weight: 700;
        letter-spacing: -0.005em
    }

    h4 {
        font-size: 28px;
        line-height: 35px;
        font-weight: 700;
        letter-spacing: -0.02em
    }

    h5 {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: -0.02em
    }

    h1,h2,h3,h4,h5 {
        font-style: normal
    }
}
*/
/*----------herobanner(secondary option)----------*/
.hero-image {
    height: 50%;
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  }
 
