body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  @font-face {
    font-family: "HoneywellSans-Book";
    src: local("HoneywellSans-Book"),
     url("C:\Users\h495225\Downloads\hwapp\src\font\HoneywellSans-Book.otf") format("truetype");
    font-weight: bold;
   }
   
   @font-face {
    font-family: "HoneywellSans-Medium";
    src: local("HoneywellSans-Medium"),
     url("C:\Users\h495225\Downloads\hwapp\src\font\HoneywellSans-Medium.otf") format("truetype");
    font-weight: bold;
   }
  
   @font-face {
    font-family: "HoneywellSans-Bold";
    src: local("HoneywellSans-Bold"),
     url("C:\Users\h495225\Downloads\hwapp\src\font\HoneywellSans-Bold.otf") format("truetype");
    font-weight: bold;
   }