.lost-search{
    background-color: rgb(247,247,247);
    text-align: center;
    border-top-color: rgb(216, 216, 216);
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 40px;
}

.lost-title{
    color:rgb(48, 48, 48);
    font-size:40px;
    font-weight:700;
    text-align:center;
    text-transform: uppercase;
    font-family: HoneywellSans-Bold;
    padding-top: 30px; 
    width: 66.6667%; 
    margin-left: 16.6667%; 
    margin-bottom: -2rem;

}

.lost-info{
    color:rgb(48, 48, 48);
    font-size:22px;
    font-weight:500;
    text-align:center;
    font-family: HoneywellSans-Book;
    padding-top: -40px;
    width: 70%; 
    margin-left: 15%; 
    display: "block";

}

.lost-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-family: HoneywellSans-Bold;
    text-transform: uppercase;
    

}

.lost-search-button{
    background-color: rgb(23,110,176);
    color: rgb(255,255,255);
    text-decoration: none;
    border-width: 2px; 
    border-color: rgb(23,110,176); 
    border-style: solid; 
    border-radius: 4px;
    border-width: 2px;
    padding-bottom: 14px; 
    padding-left: 6px; 
    padding-right: 6px; 
    padding-top: 14px;
    word-break: break-word; 
    display: flex;
    margin: 10px"
}

.lost-contact-us-button{
    background-color: rgb(23,110,176);
    color:rgb(255,255,255);
    text-decoration: none;
    border-width: 2px; 
    border-color: rgb(23,110,176); 
    border-style: solid; 
    border-radius: 4px;
    border-width: 2px;
    padding-bottom: 14px; 
    padding-left: 6px; 
    padding-right: 6px; 
    padding-top: 14px;
    word-break: break-word; 
    display: flex;
    margin: 10px"
}

.lost-suggestion-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: HoneywellSans-Book;
    font-size: 20px;
    width: 100%;
    margin-bottom: 2rem;
    display: flex; 
    gap: 42px;
    color: rgb(48, 48, 48);
    margin-top: 40px;
}

.suggestion-box-1{
    flex-basis: 25%; 
    flex-grow: 1; 
    border-width: 2px; 
    border-color: rgb(155, 155, 155); 
    border-width: 1px;
    border-style: solid; 
    padding: 2rem;
    margin-bottom: 1rem;
    height: 40px;

}

.suggestion-box-2{
    flex-basis: 25%; 
    flex-grow: 1; 
    border-width: 2px; 
    border-width: 1px;
    border-color: rgb(155, 155, 155); 
    border-style: solid; 
    padding: 2rem;
    margin-bottom: 1rem;
    height: 40px;
}


