.BEAMHK-Product{
    background-color: rgb(245,245,245);
}
  
  /*.top-beamhk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; */
     /* Adjust padding as needed */
    /* font-size: 18px;
     font-family: "Honeywell Sans", Helvetica, Arial, sans-serif !important;
     text-align: left;
     line-height: 1.3;
  }*/
  .top-header {
    box-sizing: border-box;
color: rgb(48, 48, 48);
display: block;
font-family: "Honeywell Sans", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 800;
height: 31.3958px;
line-height: 2.4px;
margin-block-end: 16px;
margin-block-start: 0px;
margin-bottom: 16px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-top: 0px;
padding-bottom: 6px;
scroll-behavior: smooth;
scroll-padding-top: 89px;
text-align: left;
text-size-adjust: 100%;
text-transform: uppercase;
unicode-bidi: isolate;
width: 1110px;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
padding: 30px;
  }
  .small-desc-info{
    box-sizing: border-box;
color: rgb(48, 48, 48);
display: block;
font-family: "Honeywell Sans", Helvetica, Arial, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 300;
height: 62px;
letter-spacing: -0.4px;
line-height: 5px;
margin-block-end: 8px;
margin-block-start: 0px;
margin-bottom: 8px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-top: 0px;
padding-bottom: 16px;
scroll-behavior: smooth;
scroll-padding-top: 89px;
text-align: left;
text-size-adjust: 100%;
text-transform: capitalize;
unicode-bidi: isolate;
width: 1110px;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
padding: 30px;
  }
  .detail-desc-info{
    box-sizing: border-box;
    color: rgb(48, 48, 48);
    display: block;
    font-family: "Honeywell Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    height: 72px;
    letter-spacing: -0.1px;
    line-height: 24px;
    margin-block-end:0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    max-width: 80%;
    text-transform:sentence case;
    scroll-behavior: smooth;
    scroll-padding-top: 89px;
    text-align: left;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 888px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 30px;
    }
  
  .products-title-info {
    flex: 2;
    color: rgb(48,48,48);
    /*font-family: HoneywellSans-Medium; */
  }
  
  .print-section {
   /* font-family: HoneywellSans-Bold; */
    font-size: 14px;
    color: rgb(0, 113, 179);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px; /* Space between the print options */
  }

  .print-icon-1, .print-icon-2{
    width: 24px;
    height: auto;
    
  }

  .print-W, .print-WO{
    color: rgb(0, 113, 179);
    font-size: 13px;
    text-transform: none;
 
  }
  
  .middle-beamhk {
    display: flex;
    align-items: flex-start; /* Align items at the top */
  }
  
  .image-side {
    flex: 1;
    max-width: 500px; 
    padding-left: 20px;
  }

  .images{
    max-width: 500px;
    min-height: 350px;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
  }
  
  .beamhk-image-1 {
    width: 65%; /* Makes the image responsive */
    height: auto; 
    margin-left: 10px;
    
  }

  .beamhk-image-2{
    width: 60px; /* Makes the image responsive */
    height: 60px; 
    cursor: pointer;
    border: 1px solid rgb(0, 113, 179);
    margin-top: 30px;
    margin-left: 10px;

  }

  .add-to-cart-section{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .save-icon-box{
    height: 30px;
  }

  .save-icon{
    border: 1px solid black;
    width: 24px;
    height: auto;
    padding: 8px;
  }

  .add-to-cart-button{
    cursor: pointer; 
    font-size: 14px; 
    font-weight: 700; 
    justify-content: center; 
    text-align: center; 
    text-transform: uppercase; 
    word-break: break-word;  
    width: 314px; 
    height: 40px; 
    background-color: rgb(0, 123, 194); 
  /*  font-family: HoneywellSans-Bold;*/
    color: rgb(0, 123, 194);
    margin-top: 10px;
  }

  .add-to-cart-link{
    color: white;
    text-align: center;
  }

  .compare-checkbox-section{
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  .compare-checkbox {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(0, 123, 194);
  }
  
  .product-info-side {
    flex: 2;
    padding-left: 20px;
  }
  
  .product-navbar {
    background-color: white;
    height: 60px;
    text-align: center;
    justify-content: center;
    max-width: 715px;
  }
  
  .product-nav-items {
    color: black;
    list-style-type: none;
    padding: 10px;
    padding-top: 30px;
  }
  
  .product-nav-items li {
    display: inline-block;
    margin-right: 100px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
  }

  .product-nav-items li.active {
   /* font-family: HoneywellSans-Bold; */
  }
/**/
  .product-nav-items li.active:hover {
    /*
    content: '';
    display: block;
    width: 120%; 
    height: 2px;
    background-color: rgb(0, 123, 194);
    position: absolute;
    bottom: -15px; /* Adjust the distance from the word 
    margin-left: 30px;
    transform: translateX(-50%);
    **/
  }
  
  .product-content {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ccc; /* Debugging aid */
    min-height: 200px; /* Ensure the content box is tall enough */
    max-width: 675px;

  }
  
  .product-overview, .product-specifications, .product-resources, .product-training, .product-replacement-products {
    display: block;
  }

  .product-desc-title{
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 20px;
    color: black;
  }

  .product-desc-info{
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 15px;
    color: rgb(57, 57, 57);
    line-height: 1.3rem;
  }

  .feats-and-benefits-title{
  /*  font-family: HoneywellSans-Bold; */
    font-size: 15px;
    color: black;
    margin-bottom: 40px;
  }

.second-level {
  display: flex;
  justify-content: space-between;
  border-top-color: rgb(208,208,208);
  border-top-style: solid;
  border-top-width: 1px;
}

.second-level p {
  padding-top: 20px;
 /* font-family: HoneywellSans-Bold; */
  flex: 1; 
  margin: 0px; 
  font-size: 16px;

}

.third-level{
  display: flex;
  justify-content: space-between;
}

.third-level p{
 /* font-family: HoneywellSans-Bold; */
  flex: 1; 
  margin: 0px; 
  margin-top: 10px;
  font-size: 14px;
}

.crossed-line-price{
  text-decoration: line-through;
}

.discount-text{
  color: rgb(55, 53, 53);
  font-size: 10px;
 /* font-family: HoneywellSans-Medium; */
  display: block;
  margin-top: 3px;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.fourth-level{
  padding: 10px;
}

.success-icon{
  width: 24px;
  height: auto;
}

.amount-available-text{
  font-size: 10px;
 /* font-family: HoneywellSans-Bold; */
}

.product-availability-text{
  padding-right: 100px;
  font-size: 10px;
 /* font-family: HoneywellSans-Bold; */
  color: rgb(232,55,41);
}

/*Specifications Tab*/

.product-specifications table {
  width: 100%;
  border-collapse: collapse;
}

.product-specifications td {
  padding: 15px;
}

.product-specifications tr:nth-child(even) {
  background-color: rgb(245,245,245);
}

.specifications-table{
  font-size: 12px;
}

.table-headers{
 /* font-family: HoneywellSans-Medium; */
}

/*Resources Tab*/
.resources-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}
.product-resources td {
  padding: 15px;
}

.resources-table-headers {
  background-color: black;
  color: white;
  padding: 10px;
}

.product-resources tr:nth-child(even) {
  background-color: rgb(245,245,245);
}

.resources-table{
  font-size: 12px;
}

.resources-table-headers{
 /* font-family: HoneywellSans-Medium; */
}

.download-link{
  color: rgb(0, 123, 194);

}
.main-content {
  padding: 20px;
  max-width: 1140px;
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }
  
  .product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: -41px;
    width: 75%;
  }
  
  .products-title-info {
    flex: 1;
    color: rgb(48, 48, 48);
   /* font-family: HoneywellSans-Medium; */
    min-width: 200px; /* Minimum width to prevent shrinking too much */
  }
  
  .button-section{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
  }

  .button-section button{
    background: #fff;
    border: 2px solid #007bc2;;
    border-radius: 5px;
    color: #007bc2;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 5px;
    word-break: break-word;
    width: 232px;
    letter-spacing: .5px;
    margin-bottom: 0 !important;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .image-side {
    flex: 1;
    max-width: 500px;
    padding: 20px;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
  }
  
  .beamhk-image-1 {
    width: 80%;
    height: auto;
  }
  
  .beamhk-image-2 {
    width: 60px; /* Fixed width */
    height: 60px; /* Fixed height */
    cursor: pointer;
    border: 1px solid rgb(0, 113, 179);
    margin-left: 10px; /* Add margin for spacing */
  }
  
  
 
  
  .product-info-side {
    flex: 2;
    padding: 20px;
    max-width: 1140px;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .product-navbar {
    background-color: white;
    height: 60px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
  }
  
  .product-nav-items {
    color: black;
    list-style-type: none;
    padding: 10px;
    display: flex; /* Keep items inline */
    flex-direction: row; /* Ensure items are in a row */
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center; /* Center the items horizontally */
  }
  
  .product-nav-items li {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
  }
  
  .product-nav-items li.active {
   /* font-family: HoneywellSans-Bold; */
  }
  
  .product-nav-items li.active::after {
    content: '';
    display: block;
    width: 120%;
    height: 8px;
    background-color: rgb(0, 123, 194);
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
}

  
  .product-content {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ccc;
    min-height: 200px;
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start;
    gap: 5px;
  }
  
  .product-desc-title {
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 20px;
    color: black;
  }
  
  .product-desc-info {
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 15px;
    color: rgb(57, 57, 57);
    line-height: 1.3rem;
  }
  

  .product-overview-pdp{
    width:50%;
  }
  .product-specifications{
    width:100%;
  }
  .product-resources{
    width:100%;
  }

  .feats-and-benefits-title {
   /* font-family: HoneywellSans-Bold; */
    font-size: 15px;
    color: black;
    margin-bottom: 40px;
  }
  
  .second-level {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(208, 208, 208);
  }
  
  .second-level p {
    padding-top: 20px;
   /* font-family: HoneywellSans-Bold; */
    flex: 1;
    margin: 0;
    font-size: 16px;
    text-align: center; /* Center align text */
  }
  
  .third-level {
    display: flex;
    justify-content: space-between;
  }
  
  .third-level p {
   /* font-family: HoneywellSans-Bold; */
    flex: 1;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: center; /* Center align text */
  }
  
  .crossed-line-price {
    text-decoration: line-through;
  }
  
  .discount-text {
    color: rgb(55, 53, 53);
    font-size: 10px;
    /*font-family: HoneywellSans-Medium; */
    display: block;
    margin-top: 3px;
  }
  
  .quantity-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .quantity-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .fourth-level {
    padding: 10px;
    text-align: center; /* Center align text */
  }
  
  .success-icon {
    width: 24px;
    height: auto;
  }
  
  .amount-available-text {
    text-align: left;
    font-size: 10px;
   /* font-family: HoneywellSans-Bold; */
  }
  
  .product-availability-text {
    text-align: left;
    font-size: 10px;
   /* font-family: HoneywellSans-Bold; */
    color: rgb(232, 55, 41);
  }
  
  /* Specifications Tab */
  .product-specifications table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-specifications td {
    padding: 15px;
  }
  
  .product-specifications tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
  
  .specifications-table {
    font-size: 12px;
  }
  
  .table-headers {
   /* font-family: HoneywellSans-Medium; */
  }
  
  /* Resources Tab */
  .resources-table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-resources td {
    padding: 15px;
  }
  
  .resources-table-headers {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  .product-resources tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
  
  .resources-table-headers {
   /* font-family: HoneywellSans-Medium; */
  }
  
  .download-link {
    color: rgb(0, 123, 194);
  }
  
  
  /*Bottom BEAMHK*/
  
  .who-viewed-container{
    padding-top: 10px;
    background-color: rgb(243,243,243);
  }
  
  .who-viewed-title{
    font-size: 40px;
   /* font-family: HoneywellSans-Book; */
    text-transform: capitalize;
    border: none;
  }
  
  .bottom-beamhk{
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.5s ease;
    width: calc(100% * 2); /* Twice the container width to accommodate concatenated images */
  }
  
  .carousel-text-top {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(23,110,176);
   /* font-family: HoneywellSans-Extrabold; */
    text-align: left;
    margin-bottom: -6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .carousel-text-bottom {
    font-size: 14px;
    color: rgb(137,137,137);
   /* font-family: HoneywellSans-Book; */
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  .carousel-slide {
    list-style: none;
    text-align: center;
    flex: 0 0 23.3%; /* Each slide takes 25% of the container width to show 4 images at a time */
    background-color: white;
    height: 325px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 9px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(202, 200, 200, 0.19);
  }
  
  .carousel-slide:hover {
    transform: scale(1.05); /* Slightly enlarges the slide */
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3), 2px 2px 2px 2px rgba(202, 200, 200, 0.25); /* Enhances the shadow for a more pronounced effect */
  }
  
  .carousel-slide img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 9px;
  }
  
  .product-carat-left, .product-carat-right{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  
  /* media queries for responsive design */
  
  @media (max-width: 1025px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 80%;
    }
    .beamhk-image-1 {
      width: 60%;
    }
    .beamhk-image-2 {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 1024px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 75%;
    }
    .beamhk-image-1 {
      width: 55%;
    }
    .beamhk-image-2 {
      width: 35px;
      height: 35px;
    }
  }
  
  @media (max-width: 992px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 70%;
    }
    .beamhk-image-1 {
      width: 50%;
    }
    .beamhk-image-2 {
      width: 30px;
      height: 30px;
    }
  }
  
  /*responsive ness for carousel*/
  @media (max-width: 1024px) {
    .who-viewed-title {
      font-size: 1.2em;
    }
    .carousel-slide {
      min-width: 160px;
    }
    .product-carat-left, .product-carat-right {
      width: 20px;
      height: 20px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 992px) {
    .who-viewed-title {
      font-size: 1.1em;
    }
    .carousel-slide {
      min-width: 140px;
    }
    .product-carat-left, .product-carat-right {
      width: 15px;
      height: 15px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 768px) {
    .who-viewed-title {
      font-size: 1em;
    }
    .carousel-slide {
      min-width: 120px;
    }
    .product-carat-left, .product-carat-right {
      width: 10px;
      height: 10px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.6em;
    }
  }
  
  @media (max-width: 480px) {
    .who-viewed-title {
      font-size: 0.9em;
    }
    .carousel-slide {
      min-width: 100px;
    }
    .product-carat-left, .product-carat-right {
      width: 8px;
      height: 8px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.5em;
    }
  }
  
  
  
  