.search-page2 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: rgb(64, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;


}

.search-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  color: rgb(100, 100, 100);
  max-width: 500px;
}

.form-control2 {
  color: rgb(100, 100, 100);
  width: 650px; /* Adjust width based on the dropdown width and gap */
  max-width: 800px;
  height: 56px;
  padding: 15px 30px 15px 15px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: right 10px center;
  font-family: HoneywellSans-Book;
  font-size: 18px;
}

.search-box2 {
  position: relative;
  flex: 1;
}

.button-container2 {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  background-color: rgb(0, 113, 179);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon2 {
  width: 30px;
  height: 30px;
}

/* Drop Down */
.searchby-dropdown2 {
  margin-bottom: 0;
}

.select-picker2 {
  font-family: HoneywellSans-Book;
  font-size: 18px;
  color: rgb(100, 100, 100);
  cursor: pointer;
  padding: 15px 30px 10px 15px; /* top-right-bottom-left */
  height: 56px;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-style: solid;
  border-radius: 4px;
  width: 200px;
  appearance: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
  background-image: url('../icons/caratdown.svg'); /* Default to CaratDown */
}

.select-picker2:focus {
  outline: none;
  border-color: rgb(110, 129, 236);
}

.select-picker2::-ms-expand {
  display: none;
}

.select-picker2 option {
  font-family: 'HoneywellSans-Light';
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.option:hover {
  font-family: 'HoneywellSans-MediumItalic';
}
