.main-content {
  padding: 20px;
  max-width: 1140px;
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  }
  
  .product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: -41px;
    width: 75%;
  }
  
  .products-title-info {
    flex: 1;
    color: rgb(48, 48, 48);
   /* font-family: HoneywellSans-Medium; */
    min-width: 200px; /* Minimum width to prevent shrinking too much */
  }
  
  .button-section{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
  }

  .button-section button{
    background: #fff;
    border: 2px solid #007bc2;;
    border-radius: 5px;
    color: #007bc2;
    font-size: 14px;
    line-height: 18px;
    padding: 15px 5px;
    word-break: break-word;
    width: 232px;
    letter-spacing: .5px;
    margin-bottom: 0 !important;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .image-side {
    flex: 1;
    max-width: 500px;
    padding: 20px;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
  }
  .beamhk-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .beamhk-image-1 {
    width: 80%;
    height: auto;
  }
  
  .beamhk-image-2 {
    width: 60px; /* Fixed width */
    height: 60px; /* Fixed height */
    cursor: pointer;
    border: 1px solid rgb(0, 113, 179);
    margin-left: 10px; /* Add margin for spacing */
    position: relative;
    
  }
  
  .savethispage{
    margin-top: 20px;
    color: #fff;
    background-color: #007bc2;
    min-width: 125px;
    font-weight: 400;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  
  .product-info-side {
    flex: 2;
    padding: 20px;
    max-width: 1140px;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .product-navbar {
    background-color: white;
    height: 60px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
  }   
  
  .product-nav-items {
    color: black;
    list-style-type: none;
    padding: 10px;
    display: flex; /* Keep items inline */
    flex-direction: row; /* Ensure items are in a row */
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center; /* Center the items horizontally */
  }
  
  .product-nav-items li {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
  }
  
  .product-nav-items li.active {
   /* font-family: HoneywellSans-Bold; */
  }
  
  .product-nav-items li.active::after {
    content: '';
    display: block;
    width: 120%;
    height: 8px;
    background-color: rgb(0, 123, 194);
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
}

  
  .product-content {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ccc;
    min-height: 200px;
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start;
    gap: 5px;
  }
  
  .product-desc-title {
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 20px;
    color: black;
  }
  
  .product-desc-info {
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 15px;
    color: rgb(57, 57, 57);
    line-height: 1.3rem;
  }
  

  .product-overview-pdp{
    width:50%;
  }
  .product-specifications{
    width:100%;
  }
  .product-resources{
    width:100%;
  }

  .feats-and-benefits-title {
   /* font-family: HoneywellSans-Bold; */
    font-size: 15px;
    color: black;
    margin-bottom: 40px;
  }
  
  .second-level {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(208, 208, 208);
  }
  
  .second-level p {
    padding-top: 20px;
   /* font-family: HoneywellSans-Bold; */
    flex: 1;
    margin: 0;
    font-size: 16px;
    text-align: center; /* Center align text */
  }
  
  .third-level {
    display: flex;
    justify-content: space-between;
  }
  
  .third-level p {
   /* font-family: HoneywellSans-Bold; */
    flex: 1;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: center; /* Center align text */
  }
  
  .crossed-line-price {
    text-decoration: line-through;
  }
  
  .discount-text {
    color: rgb(55, 53, 53);
    font-size: 10px;
    /*font-family: HoneywellSans-Medium; */
    display: block;
    margin-top: 3px;
  }
  
  .quantity-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .quantity-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .fourth-level {
    padding: 10px;
    text-align: center; /* Center align text */
  }
  
  .success-icon {
    width: 24px;
    height: auto;
  }
  
  .amount-available-text {
    text-align: left;
    font-size: 10px;
   /* font-family: HoneywellSans-Bold; */
  }
  
  .product-availability-text {
    text-align: left;
    font-size: 10px;
   /* font-family: HoneywellSans-Bold; */
    color: rgb(232, 55, 41);
  }
  
  /* Specifications Tab */
  .product-specifications table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-specifications td {
    padding: 15px;
  }
  
  .product-specifications tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
  
  .specifications-table {
    font-size: 12px;
  }
  
  .table-headers {
   /* font-family: HoneywellSans-Medium; */
  }
  
  /* Resources Tab */
  .resources-table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-resources td {
    padding: 15px;
  }
  
  .resources-table-headers {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  .product-resources tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
  
  .resources-table-headers {
   /* font-family: HoneywellSans-Medium; */
  }
  
  .download-link {
    color: rgb(0, 123, 194);
  }
  
  
  /*Bottom BEAMHK*/
  
  .who-viewed-container{
    padding-top: 10px;
    background-color: rgb(243,243,243);
  }
  
  .who-viewed-title{
    font-size: 40px;
   /* font-family: HoneywellSans-Book; */
    text-transform: capitalize;
    border: none;
  }
  
  .bottom-beamhk{
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.5s ease;
    width: calc(100% * 2); /* Twice the container width to accommodate concatenated images */
  }
  
  .carousel-text-top {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(23,110,176);
   /* font-family: HoneywellSans-Extrabold; */
    text-align: left;
    margin-bottom: -6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .carousel-text-bottom {
    font-size: 14px;
    color: rgb(137,137,137);
   /* font-family: HoneywellSans-Book; */
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  .carousel-slide {
    list-style: none;
    text-align: center;
    flex: 0 0 23.3%; /* Each slide takes 25% of the container width to show 4 images at a time */
    background-color: white;
    height: 325px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 9px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(202, 200, 200, 0.19);
  }
  
  .carousel-slide:hover {
    transform: scale(1.05); /* Slightly enlarges the slide */
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3), 2px 2px 2px 2px rgba(202, 200, 200, 0.25); /* Enhances the shadow for a more pronounced effect */
  }
  
  .carousel-slide img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 9px;
  }
  
  .product-carat-left, .product-carat-right{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  
  /* media queries for responsive design */
  
  @media (max-width: 1025px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 80%;
    }
    .beamhk-image-1 {
      width: 60%;
    }
    .beamhk-image-2 {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 1024px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 75%;
    }
    .beamhk-image-1 {
      width: 55%;
    }
    .beamhk-image-2 {
      width: 35px;
      height: 35px;
    }
  }
  
  @media (max-width: 992px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 70%;
    }
    .beamhk-image-1 {
      width: 50%;
    }
    .beamhk-image-2 {
      width: 30px;
      height: 30px;
    }
  }
  
  /*responsive ness for carousel*/
  @media (max-width: 1024px) {
    .who-viewed-title {
      font-size: 1.2em;
    }
    .carousel-slide {
      min-width: 160px;
    }
    .product-carat-left, .product-carat-right {
      width: 20px;
      height: 20px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 992px) {
    .who-viewed-title {
      font-size: 1.1em;
    }
    .carousel-slide {
      min-width: 140px;
    }
    .product-carat-left, .product-carat-right {
      width: 15px;
      height: 15px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 768px) {
    .who-viewed-title {
      font-size: 1em;
    }
    .carousel-slide {
      min-width: 120px;
    }
    .product-carat-left, .product-carat-right {
      width: 10px;
      height: 10px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.6em;
    }
  }
  
  @media (max-width: 480px) {
    .who-viewed-title {
      font-size: 0.9em;
    }
    .carousel-slide {
      min-width: 100px;
    }
    .product-carat-left, .product-carat-right {
      width: 8px;
      height: 8px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.5em;
    }
  }
  
  
  