.BEAMHK-Product {
    background-color: rgb(245, 245, 245);
    padding: 10px;
  }
  
  .top-beamhk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .products-title-info-pip {
    flex: 1;
    color: rgb(48, 48, 48);
   /* font-family: HoneywellSans-Medium; */
    min-width: 200px; /* Minimum width to prevent shrinking too much */
  }
  
  .print-section {
   /* font-family: HoneywellSans-Bold; */
    font-size: 14px;
    color: rgb(0, 113, 179);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }
  
  .print-icon-1, .print-icon-2 {
    width: 15px;
    height: auto;
    margin-left: 5px;
    padding-right: 5px;
  }
  
  .print-W, .print-WO {
    color: rgb(0, 113, 179);
    font-size: 13px;
    text-transform: none;
  
  }
  
  .middle-beamhk {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start;
    gap: 5px;
  
  }
  
  .image-side-pip {
    flex: 1;
    max-width: 500px;
    padding: 20px;
  }
  
  .images-pip {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
  }
  
  .beamhk-image-1 {
    width: 80%;
    height: auto;
  }
  
  .beamhk-image-2 {
    width: 60px; /* Fixed width */
    height: 60px; /* Fixed height */
    cursor: pointer;
    border: 1px solid rgb(0, 113, 179);
    margin-left: 10px; /* Add margin for spacing */
  }
  
  .add-to-cart-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .save-icon-box {
    height: 30px;
  }
  
  .save-icon {
    border: 1px solid black;
    width: 24px;
    height: auto;
    padding: 8px;
  }
  
  .add-to-cart-button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 314px;
    height: 40px;
    background-color: rgb(0, 123, 194);
   /* font-family: HoneywellSans-Bold; */
    color: white;
  }
  
  .compare-checkbox-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  
  .compare-checkbox {
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }
  
  .product-info-side-pip {
    flex: 2;
    padding: 20px;
    max-width: 715px;
  }
  
  .product-navbar-pip {
    background-color: white;
    height: 60px;
    text-align: center;
    justify-content: center;
    max-width: 715px;
    margin: 0 auto; /* Center the navbar */
  }
  
  .product-nav-items-pip {
    color: black;
    list-style-type: none;
    padding: 10px;
    padding-top: 30px;
    display: flex; /* Keep items inline */
    flex-direction: row; /* Ensure items are in a row */
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center; /* Center the items horizontally */
  }
  
  .product-nav-items-pip li {
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
  }
  
  .product-nav-items-pip li.active {
   /* font-family: HoneywellSans-Bold; */
  }
  
  .product-nav-items-pip li.active::after {
    content: '';
    display: block;
    width: 120%;
    height: 2px;
    background-color: rgb(0, 123, 194);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .product-content-pip {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ccc;
    min-height: 200px;
  }
  
  .product-desc-title-pip {
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 20px;
    color: black;
  }
  
  .product-desc-info-pip {
   /* font-family: HoneywellSans-Medium; */
    margin: 10px 0;
    font-size: 15px;
    color: rgb(57, 57, 57);
    line-height: 1.3rem;
  }
  
  .feats-and-benefits-title-pip {
   /* font-family: HoneywellSans-Bold; */
    font-size: 15px;
    color: black;
    margin-bottom: 40px;
  }
  
  .second-level-pip {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(208, 208, 208);
  }
  
  .second-level-pip p {
    padding-top: 20px;
   /* font-family: HoneywellSans-Bold; */
    flex: 1;
    margin: 0;
    font-size: 16px;
    text-align: center; /* Center align text */
  }
  
  .third-level-pip {
    display: flex;
    justify-content: space-between;
  }
  
  .third-level-pip p {
   /* font-family: HoneywellSans-Bold; */
    flex: 1;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    text-align: center; /* Center align text */
  }
  
  .crossed-line-price-pip {
    text-decoration: line-through;
  }
  
  .discount-text {
    color: rgb(55, 53, 53);
    font-size: 10px;
    /*font-family: HoneywellSans-Medium; */
    display: block;
    margin-top: 3px;
  }
  
  .quantity-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .quantity-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .fourth-level {
    padding: 10px;
    text-align: center; /* Center align text */
  }
  
  .success-icon {
    width: 24px;
    height: auto;
  }
  
  .amount-available-text {
    text-align: left;
    font-size: 10px;
   /* font-family: HoneywellSans-Bold; */
  }
  
  .product-availability-text {
    text-align: left;
    font-size: 10px;
   /* font-family: HoneywellSans-Bold; */
    color: rgb(232, 55, 41);
  }
  
  /* Specifications Tab */
  .product-specifications table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-specifications td {
    padding: 15px;
  }
  
  .product-specifications tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
  
  .specifications-table {
    font-size: 12px;
  }
  
  .table-headers {
   /* font-family: HoneywellSans-Medium; */
  }
  
  /* Resources Tab */
  .resources-table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-resources td {
    padding: 15px;
  }
  
  .resources-table-headers {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  .product-resources tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
  
  .resources-table-headers {
   /* font-family: HoneywellSans-Medium; */
  }
  
  .download-link {
    color: rgb(0, 123, 194);
  }
  
  
  /*Bottom BEAMHK*/
  
  .who-viewed-container{
    padding-top: 10px;
    background-color: rgb(243,243,243);
  }
  
  .who-viewed-title{
    font-size: 40px;
   /* font-family: HoneywellSans-Book; */
    text-transform: capitalize;
    border: none;
  }
  
  .bottom-beamhk{
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.5s ease;
    width: calc(100% * 2); /* Twice the container width to accommodate concatenated images */
  }
  
  .carousel-text-top {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(23,110,176);
   /* font-family: HoneywellSans-Extrabold; */
    text-align: left;
    margin-bottom: -6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .carousel-text-bottom {
    font-size: 14px;
    color: rgb(137,137,137);
   /* font-family: HoneywellSans-Book; */
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  .carousel-slide {
    list-style: none;
    text-align: center;
    flex: 0 0 23.3%; /* Each slide takes 25% of the container width to show 4 images at a time */
    background-color: white;
    height: 325px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 9px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(202, 200, 200, 0.19);
  }
  
  .carousel-slide:hover {
    transform: scale(1.05); /* Slightly enlarges the slide */
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3), 2px 2px 2px 2px rgba(202, 200, 200, 0.25); /* Enhances the shadow for a more pronounced effect */
  }
  
  .carousel-slide img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 9px;
  }
  
  .product-carat-left, .product-carat-right{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  
  /* media queries for responsive design */
  
  @media (max-width: 1025px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 80%;
    }
    .beamhk-image-1 {
      width: 60%;
    }
    .beamhk-image-2 {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 1024px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 75%;
    }
    .beamhk-image-1 {
      width: 55%;
    }
    .beamhk-image-2 {
      width: 35px;
      height: 35px;
    }
  }
  
  @media (max-width: 992px) {
    .products-title-info,
    .print-section,
    .image-side,
    .product-info-side,
    .add-to-cart-button {
      font-size: 70%;
    }
    .beamhk-image-1 {
      width: 50%;
    }
    .beamhk-image-2 {
      width: 30px;
      height: 30px;
    }
  }
  
  /*responsive ness for carousel*/
  @media (max-width: 1024px) {
    .who-viewed-title {
      font-size: 1.2em;
    }
    .carousel-slide {
      min-width: 160px;
    }
    .product-carat-left, .product-carat-right {
      width: 20px;
      height: 20px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 992px) {
    .who-viewed-title {
      font-size: 1.1em;
    }
    .carousel-slide {
      min-width: 140px;
    }
    .product-carat-left, .product-carat-right {
      width: 15px;
      height: 15px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 768px) {
    .who-viewed-title {
      font-size: 1em;
    }
    .carousel-slide {
      min-width: 120px;
    }
    .product-carat-left, .product-carat-right {
      width: 10px;
      height: 10px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.6em;
    }
  }
  
  @media (max-width: 480px) {
    .who-viewed-title {
      font-size: 0.9em;
    }
    .carousel-slide {
      min-width: 100px;
    }
    .product-carat-left, .product-carat-right {
      width: 8px;
      height: 8px;
    }
    .carousel-text-top, .carousel-text-bottom {
      font-size: 0.5em;
    }
  }

  .product-section {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    width: 100%;
  }
  
  /*Filter Section*/
  
  .filter-section {
    margin-left: 1.5em;
    margin-right: 20px;
    flex-basis: 20%;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .filter-by-text {
    color: rgb(48, 48, 48);
    font-size: 16px;
    font-weight: 800;
    font-family: HoneywellSans-Extrabold;
    padding-bottom: 10px;
    width: 150px;
    margin-right: 5rem;
    margin-bottom: 0.5rem;
  }
  
  .dropdown-container {
    margin-bottom: 15px;
    width: 222px; /* Adjusted width */
    background-color: rgb(243, 243, 243);
    border-top-color: transparent;
    border-bottom-color: rgb(208, 208, 208);
    border-right-color: rgb(208, 208, 208);
    border-left-color: rgb(208, 208, 208);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  
  }
  
  .dropdown-header {
    background-color: rgb(243, 243, 243);
    border: rgb(208, 208, 208);
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: -0.5px;
    width: 190px;
    color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .carat-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .dropdown-title {
    font-weight: 700;
    font-family: HoneywellSans-Medium;
    text-transform: uppercase;
    width: 15rem;
  }
  
  .clear-button{
    font-family: HoneywellSans-Book;
    text-transform: capitalize;
    margin-right: -3px;
  }
  
  .checkbox-container {
    padding: 16px;
    display: none;
  }
  
  .checkbox-container.open {
    display: block;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    width: 19px;
    height: 19px;
    margin-right: 10px;
  }
  
  .checkbox-label {
    font-size: 14px;
  }
  
  
  /*Product list section*/
  
  .product-list-section {
    flex-grow: 1; /* Takes up the remaining space */
    padding: 16px;
  }
  
  .number-text{
    border-bottom-color: rgb(155,155,155);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: HoneywellSans-Book;
    font-size: 18px;
    font-weight: 300;
    padding-left: 18px;
    padding-right: 18px;
  
    
  }
  
  .num-of-products-text{
    font-family: HoneywellSans-Extrabold;
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-weight: 800;
  }
  
  .products-item {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-top: 16px;
    width: 100%;
    height: 12rem;
    border-bottom-color: rgb(208,208,208);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 160px;
  }
  
  .part-number-img{
    border-color: rgb(217,217,217);
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(rgb(228, 228, 228) 0px, rgb(248, 248, 248) 100%); 
    text-align: center;
    margin-right: 80rem;
    width: 130px;
    color: rgb(33, 37, 41);
    font-family: HoneywellSans-Book;
    font-size: 14px; 
    font-weight: 300;
  }
  
  .part-number{
    font-size: 22px; 
    margin-top: 1rem;
  }
  
  .pn-title{
    font-size: 16px;
  }
  
  .part-item-description {
    margin-left: -77rem; /* Move this element to the left */
    margin-top: -16.5px;
    flex-grow: 1; /* Takes up the remaining space */
    width: 90px;
    color:rgb(33, 37, 41);
    font-family: HoneywellSans-Book;
    font-weight: 300;
    
  }
  
  .details-link {
    font-family: HoneywellSans-Bold;
    color: rgb(0, 113, 179);
    text-decoration: none; /* Remove underline */
    font-size: 14px;
  }
  
  .desc-1, .desc-2, .desc-3{
    width: 300px;
  
  }
  
  .desc-3{
    margin-top: -5px;
  }
  
  .desc-2{
    font-size: 22px;
    font-family: HoneywellSans-Bold;
    color: rgb(0, 113, 179);
    margin-top: -0.5px;
  }
  
  .details-button{
    text-transform: uppercase;
    width: 300px;
  
  }
  
  
  
  .load-button{
    cursor: pointer; 
    font-size: 14px; 
    font-weight: 700; 
    justify-content: center; 
    text-align: center; 
    text-transform: uppercase; 
    word-break: break-word;  
    width: 232px; 
    height: 60px; 
    border-width: 2px; 
    border-color: rgb(0, 123, 194); 
    border-style: solid; 
    border-radius: 4px; 
    font-family: HoneywellSans-Bold;
    color: rgb(0, 123, 194);
    margin-top: 30px;
    margin-left: 300px;
  }
  
  .load-more-link{
    text-align: center;
    padding-top: 8px;
  }